<span style='color: #000' title='Frames'>   160</span><span style='color: #009' title='Memory'>  93440.00 KB</span><span style='color: #900' title='Time'>    253.30 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />