// mf mixins
// got these here: http://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin beforeafter($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
	height: 0;
	position: relative;
	$padding: unquote( ( $y / $x ) * 100 + '%' );
	@if $pseudo {
		&:before {
			@include beforeafter($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
	@include beforeafter($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round( $size / 2.5 );
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if	$direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}

// force hardware accelleration
@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}

@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// big text shadow - https://codepen.io/mors/pen/jPEpdV
@mixin shadowfy($color, $depth: 5, $direction: 'down') {

	$i: 1;

	$coord-x: 0;
	$coord-y: 0;
	
	// Directions
	
	@if $direction == 'top' {
		$coord-x: 0;
		$coord-y: -1;
	}
	
	@if $direction == 'top-right' {
		$coord-x: 1;
		$coord-y: -1;
	}

	@if $direction == 'bottom' {
		$coord-x: 0;
		$coord-y: 1;
	}
	
	@if $direction == 'bottom-right' {
		$coord-x: 1;
		$coord-y: 1;
	}
	
	@if $direction == 'bottom-left' {
		$coord-x: -1;
		$coord-y: 1;
	}

	@if $direction == 'left' {
		$coord-x: -1;
		$coord-y: 0;
	}
	
	@if $direction == 'top-left' {
		$coord-x: -1;
		$coord-y: -1;
	}

	$shadow: ();

	@while $i <= $depth {

		$shadow-part: #{$coord-x * $i}px #{$coord-y * $i}px $color;
		$shadow: append($shadow, $shadow-part, comma);

		$i: $i + 1;

	}

	text-shadow: unquote($shadow);

}