.cw-slideshow {
	position: relative;
	visibility: hidden;
	z-index: 3;
	background-color: rgba(#000, .875);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	opacity: 0;
	box-shadow: 0 10px 20px 0 rgba(#000, .35);

	&.loaded {
		opacity: 1;
		visibility: visible;
		transition: .5s .5s;
	}

	.slide {
		position: relative;

		img {
			display: block;
		}

		.slide-words {
			display: flex;
			align-items: flex-end;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.slide-caption {
				position: relative;
				width: 100%;
				height: auto;
				padding: 30px;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-size: 2em;

				.cap {
					position: relative;
					display: block;
					font-family: $accentFont;
					z-index: 2;
					opacity: 0;
					transform: translateX(-100px);
					transition: .5s .5s;
				}

				.bg {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $red;
					opacity: 0;
					mix-blend-mode: multiply;
					transition: .5s .5s;
					z-index: 1;
					@include hardware;
				}
			}
		}

		&.active-slide {
			.slide-words {
				.slide-caption {
					.cap {
						opacity: 1;
						transform: translateX(0);
						transition: .5s .5s;
					}

					.bg {
						opacity: 1;
						transition: .5s .5s;
					}
				}
			}
		}
	}
}

@media all and (min-width: $bigWidth) {
	.cw-slideshow {
		.slide {
			.slide-words {
				.slide-caption {

				}
			}
		}
	}
}