@import "normalize";
@import "gravityforms";
@import "wordpress";
@import "fontawesome";

// variables
$blue: #005DAA;
$red: #A50A02;
$gold: #FBD337;

$linkColor: $red;
$linkHover: lighten($linkColor, 10%);
$fontColor: #333;

$mainFont: 'Work Sans', sans-serif;
$accentFont: 'Patua One', serif;

@import "cw-grid";
@import "cw-mixins"; // This is where we can put custom mixins and classes
@import "bxslider";
@import "lightbox";
@import "cw-slides";
@import "cw-columns";

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: $mainFont;
	height: 100%;
	font-weight: 400;
	width: 100%;
	background-color: #f4f4f4;
	background: center center no-repeat url(../img/wood-bg.jpg);
	background-size: cover;
	background-attachment: fixed;

	&.mobile-nav-open {
		position: fixed;
		overflow: hidden;
	}

	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 15px;
	font-size: 10px;
	background-color: rgba(175, 175, 175, .1);
	margin: 15px;
	word-wrap: break-word;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.horzcent {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

//typography
$h2Size: 1.5em;

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 100;
	font-family: $accentFont;

	&.page-title {
		font-size: $h2Size;
	}

	// &.widget-title {
	// 	@include shadowfy(rgba(lighten($blue, 20%), .5), 2, bottom-right);
	// }
}

h1 {
	font-size: 1em;

	&.tribe-events-single-event-title, &.product_title {
		font-size: $h2Size;
	}

	&.page-title {
		display: none!important;
	}
}

h2 {
	font-size: $h2Size;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 1em;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	transition: .25s;
	text-decoration: none;

	&:hover {
		color: $linkHover;
		transition: .25s;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

// ::-webkit-input-placeholder {
//    color: #fff;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: #fff;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: #fff;
// }

// :-ms-input-placeholder {  
//    color: #fff;
// }

$inputBg: #fff;

input[type="text"],
input[type="number"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="button"],
select,
textarea {
	border: 0;
	outline: none!important;
	-webkit-appearance: none;

	.gform_wrapper & {
		border: 0!important;
	}
}

input[type="submit"],
input[type="button"],
button,
.button {
	display: inline-block;
	background-color: $linkColor!important;
	border-radius: 5px;
	border: 0;
	color: #fff!important;
	font-weight: 400!important;
	padding: 10px 20px!important;
	line-height: 1.3!important;
	transition: .25s;
	cursor: pointer;

	&:hover {
		background-color: $linkColor!important;
		color: #fff;
		transition: .25s;
	}

	&.prev {
		position: relative;

		&:before {
			@include beforeafter(inline-block, relative);
			font-family: 'fontAwesome';
			content:"\f019";
			margin-right: 15px;
		}
	}
}

input[type="file"] {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	box-shadow: 0 0 0 1px rgba($red, .5) inset!important;
	transition: .25s;
	padding: 10px;
	background-color: $inputBg;
	line-height: 1.3;
	border-radius: 5px;

	&:hover, &:focus {
		box-shadow: 0 0 0 2px rgba($red, 1) inset!important;
		transition: .25s;
	}

	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], {

}

textarea {

}

select {
	background-image: url(../img/select-down.png);
	background-position: right 10px center;
	background-size: 10px 5px;
	background-repeat: no-repeat;
	background-color: $inputBg;
	padding-right: 30px;

	&[multiple="multiple"] {
		background: none;
		background-color: $inputBg;
	}

	&.ui-datepicker-month,
	&.ui-datepicker-year {
		background: none;
		box-shadow: 0 0 0 0 $fontColor;

		&:hover, &:focus {
			box-shadow: 0 0 0 0 $fontColor;
		}	
	}
}

hr {
	border: 0;
	border-bottom: solid 1px $blue;
}

.off-canvas-wrap {
	position: relative;
	width: 100%;
	clear: both;
	overflow: hidden;
	-webkit-backface-visibility: hidden;

	.off-canvas-wrap-inner {
		position: relative;
		top: 0;
		width: 100%;
		// transform: translate3d(0, 0, 0);
		transform: translateX(0);
		transition: .5s;
		overflow: visible;
	}

	.mobile-nav-open & {
		min-height: 100%;
		-webkit-overflow-scrolling: touch;

		.off-canvas-wrap-inner {
			// transform: translate3d(75vw, 0, 0);
			transform: translateX(-75vw);
			transition: .5s;
		}
	}
}

// header and nav
[role="banner"] {
	position: relative;
	z-index: 10;
	box-shadow: 0 5px 10px 0 rgba(#000, .25);
	z-index: 4;

	.logo-cont {
		position: relative;
		z-index: 2;
	}

	.logo {
		position: relative;
		background-color: #fff;
		padding: 15px 10px;
		box-shadow: 0 5px 10px 0 rgba(#000, .25);
		width: 100%;

		svg, img {
			display: block;
			width: 100%;
			max-width: 200px;
		}
	}

	// nav
	.menu-toggle {
		position: relative;
		display: block;
		cursor: pointer;
		height: 40px;
		width: 40px;
		transition: .5s;
		transform: scale(1);

		.fa-bars {
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.menu-close {
		position: absolute;
		display: block;
		cursor: pointer;
		height: 40px;
		width: 40px;
		top: 50%;
		right: 15px;
		z-index: 9999;
		transition: .5s;
		transform: translateY(-50%) scale(0);

		.fa-times {
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.mobile-nav-open & {
		.menu-toggle {
			transition: .5s;
			transform: scale(0);
		}
		.menu-close {
			transition: .5s;
			transform: translateY(-50%) scale(1);
		}

		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					box-shadow: 0 0 0 200vh rgba(255, 255, 255, .5);
				}
			}
		}
	}

	.cw-nav-cont {
		position: relative;
		background-color: $blue;
		z-index: 1;

		[role="navigation"] {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.menu {
				display: flex;
				position: absolute;
				top: 0;
				left: 100%;
				width: 75vw;
				height: 100vh;
				overflow: hidden;
				flex-direction: column;
				transition: .5s;
				background-color: #f4f4f4;
				margin: 0;
				padding: 0;
				overflow-y: auto;

				.menu-item {
					position: relative;
					display: block;
					background-color: $blue;

					&:last-child {
						margin-right: 0;
						margin-bottom: 0;
					}

					&:hover {
						>.sub-menu {
							display: block;
						}
					}

					&.current-menu-item, &.current-menu-ancestor, &.current_page_parent {
						>a {
							background-color: darken($blue, 12.5%);
						}
					}

					a {
						display: block;
						padding: 5px 10px;
						color: #fff;
						text-transform: uppercase;
						font-weight: 600;
						font-family: $accentFont;

						&:hover {
							background-color: darken($blue, 12.5%);
						}
					}

					.sub-menu {
						position: relative;
						opacity: 1;
						visibility: visible;
						top: auto;
						right: auto;
						margin: 0;
						padding: 0;
						background-color: darken($blue, 12.5%);
						z-index: 9999;

						.menu-item {
							display: block;
							margin: 0;

							a {
								display: inline-block;
								white-space: nowrap;
								width: 100%;
								font-size: 1em;

								&:hover {
									background-color: darken($blue, 25%);
								}
							}
						}
					}
				}
			}
		}
	}
}

.page-header {
	position: relative;
	padding: 30px 0;
	background-color: rgba(#000, .875);
	box-shadow: 0 5px 10px 0 rgba(#000, .25);
	z-index: 2;

	.page-title {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		@include shadowfy($red, 5, bottom-right);
	}

	.row {
		position: relative;
		z-index: 2;
	}

	.page-bg {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// main content
[role="main"] {
	position: relative;
	padding: 30px 0;
	z-index: 1;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(#000, .5);

	&.woodbg {
		background-image: url(../img/wood-rpt-trns.png);
		background-size: contain;
	}

	.content-container {
		margin-bottom: 30px;

		h2, h3, h4 {
			font-size: 3em;
			color: $red;
			transform: rotate(-3deg);
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
			@include shadowfy(#d4d4d4, 10, bottom-right);
		}
	}
}

// sidebar
[role="complementary"] {
	padding-top: 30px;
	box-shadow: -1px 0 0 0 $blue;

	.widget {
		margin-bottom: 30px;
	}
}

// footer
[role="contentinfo"] {
	position: relative;
	background-color: $red;
	padding: 30px 0;
	z-index: 0;

	.footer-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;

		li {
			margin-right: 10px;
			padding-right: 10px;
			border-right: solid 1px rgba(#fff, .5);

			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}
		}
	}

	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.copy {
		text-align: center;

		* {
			color: #fff;
		}
	}

	.cw {
		text-align: center;

		.cw-logo {
			display: inline-block;
			width: 150px;

			path {
				fill: #fff;
			}
		}
	}
}

// search
[role="search"] {
	position: relative;
	z-index: 9999;

	input[type="text"] {
		width: 100%;
	}

	.search-results {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #fff;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);

		.close {
			position: absolute;
			top: -27px;
			right: 10px;
			cursor: pointer;
		}

		.result, .more-results, .no-results {
			padding: 2px 10px;
		}

		.loading {
			position: absolute;
			right: 0;
			top: -27px;
			width: auto;
			text-align: right;
			padding: 0 15px;
			opacity: .5;
		}

		.more-results {
			background-color: #333;
			color: #fff;
			display: block;
		}

		.result {
			position: relative;

			a {
				display: block;
			}

			&:hover {
				&:after {
					height: 4px;
					transition: .25s;
				}
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #333;
				left: 0;
				top: 100%;
				width: 100%;
				height: 0;
				transition: .25s;
			}
		}
	}
}

// tribe events overrides
.tribe-events-schedule h2 {
	font-size: 16px;
}

// gravity forms overrides
.gform_wrapper .ginput_complex.ginput_container {
	overflow: visible!important;
}

// woo overrides
.woocommerce-product-gallery__image, .featured-product {
	margin-bottom: 15px;
}

// misc stuff, specific stuff, global stuff
.promo {
	text-align: center;
	margin-bottom: 30px;
}

.end {
	float: right;
}

.sku_wrapper, .posted_in {
	display: block;
}

.page-description, .product_meta {
	margin-bottom: 30px;
}

.wc_payment_method.payment_method_cod {
	display: none;
}

.cat-listing {
	margin-bottom: 30px;
}

.search-result, .post {
	margin-bottom: 15px;
	padding-bottom: 15px;
	box-shadow: 0 1px 0 0 $blue ;
}

.feats {
	margin: 30px 0 0;
	background-color: $blue;
	box-shadow: 0 5px 10px 0 rgba(#000, .25);

	* {
		color: #fff;
	}

	.grid {
		padding: 15px;
	}

	.widget-title {
		margin: 15px 0;
		padding: 5px 0;
		overflow: hidden;
		font-size: 1.5em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		@include shadowfy(darken($blue, 15%), 50, bottom-right);
		background-color: darken($blue, 10%);

		&:before, &:after {
			@include beforeafter(relative, inline-block, "\f005")
			font-family: 'fontAwesome';
		}

		&:before {
			margin-right: 30px;
		}

		&:after {
			margin-left: 30px;
		}
	}

	.featured-product {
		transform: scale(1);
		transition: .3s;

		img {
			box-shadow: 0 5px 10px 0 rgba(#000, .25);
			transition: .3s;
		}

		&:hover {
			transform: scale(1.05);
			transition: .3s;

			a {
				color: $gold;
			}


			img {
				box-shadow: 0 10px 13px 0 rgba(#000, .25);
				transition: .3s;
			}
		}

		a {
			&:hover {
				color: $gold;
			}
		}
	}
}

.doc-download {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.ng-hide, .ng-cloak {
	display: none!important;
}

.pagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}
 
.pagination span, .pagination a {
	display: block;
	float: left;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: #ccc;
}
 
.pagination a:hover{
	color: #fff;
	background: #666;
}
 
.pagination .current{
	padding: 6px 9px 5px 9px;
	background: #000;
	color: #fff;
}


.cff-likebox {
	margin-left: 0!important;
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0; 
	top: 0;
	left: 0;
	opacity: 0;
}

.video-container {
	@include responsive-ratio(16, 9);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// .hours {
// 	max-width: 40em;
// 	padding: 0;
// 	overflow-x: hidden;
// 	list-style: none;

// 	li {
// 		&:before {
// 			float: left;
// 			width: 0;
// 			white-space: nowrap;
// 			content:
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . ";
// 		}

// 		.day-name {
// 			padding-right: 0.33em;
// 			background: white;
// 		}

// 		.open-close {
// 			float: right;
// 			padding-left: 0.33em;
// 			background: white;
// 		}
// 	}
// }

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: $smlWidth) {
	$h2Size: 2em;

	h1, h2, h3, h4, h5, h6 {
		&.page-title {
			font-size: $h2Size;
		}
	}

	.off-canvas-wrap {
		.off-canvas-wrap-inner {
			overflow: hidden;
			transform: translateY(0) translateX(0);
		}
	}

	[role=banner] {
		.menu-toggle {
			display: none;
		}

		.menu-close {
			display: none;
		}

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			background-color: #fff;
			padding: 15px 10px;
			box-shadow: 0 5px 10px 0 rgba(#000, .25);

			svg, img {
				display: block;
				width: 100%;
				max-width: 200px;
			}
		}

		.cw-nav-cont {
			[role="navigation"] {
				display: block;

				.menu {
					position: relative;
					width: auto;
					height: auto;
					left: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					background-color: transparent;
					margin: 0;
					top: auto;
					padding: 0;
					overflow: visible;

					&.open {
						width: auto;
					}

					.menu-item {
						display: inline-block;
						background-color: transparent;

						&:hover {
							>a {
								
							}

							 >.sub-menu {
								visibility: visible;
								opacity: 1;
								transition: .25s;
							}
						}

						&.current-menu-item, &.current-menu-ancestor, &.current_page_parent {
							>a {
								
							}
						}

						a {
							padding: 15px 15px;
							text-align: center;
						}

						.sub-menu {
							position: absolute;
							visibility: hidden;
							transition: .25s;
							opacity: 0;
							top: 100%;
							right: 0;
							margin: 0;
							padding: 0;

							.menu-item {
								display: block;

								a {
									display: inline-block;
									white-space: nowrap;
									padding: 5px 10px;
									font-size: .875em;
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
	}

	[role="main"] {
		padding: 60px 30px;
	}

	// footer
	[role="contentinfo"] {
		.flex {
			flex-direction: row;

			div {
				margin-bottom: 0;
			}
		}

		.copy {
			text-align: left;
		}

		.cw {
			text-align: right;
		}
	}

	// sidebar
	[role="complementary"] {
		padding-top: 0;
	}

	.feats {
		.widget-title {
			font-size: 2.5em;
		}
	}
}


@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited {  }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }