<span style='color: #000' title='Frames'>   350</span><span style='color: #009' title='Memory'> 113664.00 KB</span><span style='color: #900' title='Time'>    393.92 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />